{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{% static "assets/images/hero_5.jpg" %}');">
	<div class="container">
		<div class="row same-height justify-content-center">
			<div class="col-md-6">
				<div class="post-entry text-center">
					<h1 class="mb-4">Hakkımızda</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section sec-halfs py-0">
	<div class="container">
		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img" style="background-image: url('{% static "assets/images/hero_1.jpg" %}')" data-aos="fade-in" data-aos-delay="100">
				
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">Oyun, film, dizi ve kitap tutkunları için bir buluşma noktası</h2>
				<p class="mb-4">LimonForum’da binlerce içerik arasından favori konularınızı bulun, tartışmalara katılın ve kendi yorumunuzu bırakın.</p>
			</div>
		</div>

		<div class="half-content d-lg-flex align-items-stretch">
			<div class="img order-md-2" style="background-image: url('{% static "assets/images/hero_2.jpg" %}')" data-aos="fade-in">
				
			</div>
			<div class="text">
				<h2 class="heading text-primary mb-3">Binlerce kullanıcı LimonForum'da fikirlerini paylaşıyor</h2>
				<p class="mb-4">Kategorilere ayrılmış yüzlerce içerik sizi bekliyor — ister film eleştirileri, ister kitap önerileri!</p>
			</div>
		</div>
	</div>

</div>

<div class="section sec-features">
	<div class="container">
		<div class="row g-5">
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
				<div class="feature d-flex">
					<span class="bi-bag-check-fill"></span>
					<div>
						<h3>Kendi Paylaşımlarını Oluştur</h3>
						<p>LimonForum’da dilediğin oyun, film, dizi ya da kitap hakkında düşüncelerini paylaş, kendi içeriklerini oluştur.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="feature d-flex">
					<span class="bi-wallet-fill"></span>
					<div>
						<h3>İçerikler ve Yorumlar</h3>
						<p>Binlerce kullanıcı tarafından yazılmış yorumlar ve önerilerle merak ettiğin her şey hakkında fikir sahibi ol.</p>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
				<div class="feature d-flex">
					<span class="bi-pie-chart-fill"></span>
					<div>
						<h3>Sana Özel Forum Deneyimi</h3>
						<p>İlgilendiğin kategorileri takip et, sana hitap eden içeriklerle dopdolu bir deneyim yaşa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section">
	<div class="container">
		
		<div class="row mb-5">
			<div class="col-lg-5 mx-auto text-center" data-aos="fade-up">
				<h2 class="heading text-primary">Ekibimiz</h2>
				<p>LimonForum ekibi olarak; oyun, film, dizi ve kitap tutkunlarını bir araya getiren sade, hızlı ve kullanıcı dostu bir platform oluşturmayı hedefledik. Her satır kodda keyif, her tasarımda özen var.</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="0">
				<img src="{% static "assets/images/alperen_aktas.png" %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
				<h5 class="text-black">Alperen Aktaş</h5>
				<p>LimonForum’un kullanıcı arayüzünü tasarlayan kişi. Akıcı, hızlı ve modern bir deneyim için frontend’in başında.</p>
			</div>
			<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="100">
				<img src="{% static "assets/images/bora_kalkan.jpg" %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
				<h5 class="text-black">Bora Kalkan</h5>
				<p>Forumun işleyişini sağlayan yapıların mimarı. Tüm backend sürecini güvenli ve sağlam bir şekilde yönetti.</p>
			</div>
			<div class="col-lg-4 mb-4 text-center" data-aos="fade-up" data-aos-delay="200">
				<img src="{% static "assets/images/mirac_ozmen.jpg" %}" alt="Image" class="img-fluid w-50 rounded-circle mb-3">
				<h5 class="text-black">Mehmet Miraç Özmen</h5>
				<p>Veriler nerede, nasıl ve ne şekilde tutulmalı? Tüm bu sorulara yanıt veren, veritabanı mimarimizin uzmanı.</p>
			</div>
		</div>

	</div>
</div>



<div class="section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7 mb-4 mb-lg-0">
				<img src="{% static "assets/images/img_7_sq.jpg" %}" alt="Image" class="img-fluid rounded
				">
			</div>
			<div class="col-lg-4 ps-lg-2">
				<div class="mb-5">
					<h2 class="text-black h4">Tutkulu Yazarlar İçin Paylaşım Alanı</h2>
					<p>LimonForum, oyunlardan kitaplara kadar fikirlerini özgürce paylaşabileceğin bir platform sunar.</p>
				</div>
				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-wallet-fill me-4"></span>
					</div>
					<div>
						<h3>Kendi Konularını Oluştur</h3>
						<p>Favori içeriklerin hakkında başlık aç, görüşlerini yaz, topluluğunla paylaş.</p>
					</div>
				</div>

				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-pie-chart-fill me-4"></span>
					</div>
					<div>
						<h3>Yorumlar ve Öneriler</h3>
						<p>Dizi, film, oyun ve kitaplarla ilgili en güncel yorumları ve topluluk içgörülerini keşfet.</p>
					</div>
				</div>

				<div class="d-flex mb-3 service-alt">
					<div>
						<span class="bi-bag-check-fill me-4"></span>
					</div>
					<div>
						<h3>Senin İçin Özelleştirilmiş Forum</h3>
						<p>Takip ettiğin kategorilerle ilgi alanlarına özel bir forum deneyimi seni bekliyor.</p>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

{% endblock %}