{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section posts-entry pt-5" style="background-color: #f5f6fa; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.03); padding: 24px 0;">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Popüler Oyunlar</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="{% url 'categoryPage' %}" class="read-more">Tümünü İncele</a></div>
		</div>
		<div class="row g-3">
			<div class="col-md-12">
				<div class="row g-3">					
					{% for game in games %}
					<div class="col-md-4">
						<div class="blog-entry">
							<a href="{% url 'singleGamePage' game.slug %}" class="img-link" style="aspect-ratio: 5 / 3">
								<img src="{{ game.background_image }}" alt="Image" class="img-fluid w-100 h-100" style="object-fit: cover;">
							</a>
							<span class="date">{{game.released}}</span>
							<h2><a href="{% url 'singleGamePage' game.slug %}">{{ game.name }}</a></h2>
							<p><a href="{% url 'singleGamePage' game.slug %}" class="btn btn-sm btn-outline-primary">İncele</a></p>
						</div>
					</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section posts-entry">
	<div class="container">
		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Popüler Kitaplar</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="{% url 'categoryPage' %}" class="read-more">Tümünü İncele</a></div>
		</div>
		<div class="row g-3">
			<div class="col-md-12">
				<div class="row g-3">
					{% for book in books %}
					<div class="col-md-4">
						<div class="blog-entry d-flex flex-column h-100">
							<a href="{% url 'singleBookPage' book.slug %}" class="img-link mb-3 d-block">
								<img src="{{ book.imageLinks.thumbnail }}" alt="Image" class="img-fluid d-block mx-auto" style="max-height: 175px; border-radius: 10px;">
							</a>
							<span class="date">{{book.publishedDate}}</span>
							<h2><a href="{% url 'singleBookPage' book.slug %}">{{ book.title }}</a></h2>
							<div class="mt-auto"></div>
							<p><a href="{% url 'singleBookPage' book.slug %}" class="btn btn-sm btn-outline-primary">İncele</a></p>
						</div>
					</div>
					{%endfor%}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section post-entry" style="background-color: #f5f6fa; border-radius: 12px; box-shadow: 0 2px 8px rgba(0,0,0,0.03); padding: 24px 0;">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Popüler Filmler</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="{% url 'categoryPage' %}" class="read-more">Tümünü İncele</a></div>
		</div>

		<div class="row g-3">
            {% for movie in movies %}
                {% if movie.slug %}
                <div class="col-md-4">
                    <div class="blog-entry">
                        <a href="{% url 'singleMoviePage' movie.slug %}" class="img-link">
                            <img src="{{ movie.poster_url }}" alt="Image" class="img-fluid w-75 mx-auto d-block" style="max-height: 750px; border-radius: 10px;">
                        </a>
                        <span class="date d-block mt-3">{{ movie.release_date }}</span>
                        <h2><a href="{% url 'singleMoviePage' movie.slug %}">{{ movie.title }}</a></h2>
                        <p><a href="{% url 'singleMoviePage' movie.slug %}" class="btn btn-sm btn-outline-primary">İncele</a></p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
		</div>
	</div>
</section>

<div class="section post-entry">
	<div class="container">

		<div class="row mb-4">
			<div class="col-sm-6">
				<h2 class="posts-entry-title">Popüler Diziler</h2>
			</div>
			<div class="col-sm-6 text-sm-end"><a href="{% url 'categoryPage' %}" class="read-more">Tümünü İncele</a></div>
		</div>

		<div class="row g-3">

			{% for serie in series %}
				{% if serie.slug %}
				<div class="col-md-4">
					<div class="blog-entry">
						<a href="{% url 'singleSeriesPage' serie.slug %}" class="img-link">
							<img src="{{ serie.poster_url }}" alt="Image" class="img-fluid w-75 mx-auto d-block" style="max-height: 450px; border-radius: 10px;">
						</a>
						<span class="date d-block mt-3">{{ serie.first_air_date }}</span>
						<h2><a href="{% url 'singleSeriesPage' serie.slug %}">{{ serie.name }}</a></h2>
						<p><a href="{% url 'singleSeriesPage' serie.slug %}" class="btn btn-sm btn-outline-primary">İncele</a></p>
					</div>
				</div>
				{% endif %}
            {% endfor %}
		</div>

	</div>
</div>

{% endblock %}