{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="section search-result-wrap">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="heading">Diziler</div>
			</div>
		</div>
		<div class="row posts-entry">
			<div class="col-lg-8">

				{% for serie in series_page %}
				<div class="blog-entry d-flex blog-entry-search-item">
					<a href="{% url 'singleSeriesPage' slug=serie.slug %}" class="img-link me-4">
						<img src="{{ serie.poster_url }}" alt="{{ serie.name }}" class="img-fluid">
					</a>
					<div>
						<span class="date">
							{{ serie.first_air_date|default:"Bilinmeyen Tarih" }} &bullet;
							<a href="#">Puan: {{ serie.vote_average }}</a>
						</span>
						<h2>
							<a href="{% url 'singleSeriesPage' slug=serie.slug %}">{{ serie.name }}</a>
						</h2>
						<p>{{ serie.overview|truncatechars:150 }}</p>
						<p>
							<a href="{% url 'singleSeriesPage' slug=serie.slug %}" class="btn btn-sm btn-outline-primary">
								İncele
							</a>
						</p>
					</div>
				</div>
				{% endfor %}

				<div class="row text-start pt-5 border-top">
					<div class="col-md-12">
						<div class="custom-pagination">
							{% if series_page.has_previous %}
								<a href="?page={{ series_page.previous_page_number }}">←</a>
							{% endif %}

							{% for num in series_page.paginator.page_range %}
								{% if series_page.number == num %}
									<span>{{ num }}</span>
								{% elif num > series_page.number|add:-3 and num < series_page.number|add:3 %}
									<a href="?page={{ num }}">{{ num }}</a>
								{% endif %}
							{% endfor %}

							{% if series_page.has_next %}
								<a href="?page={{ series_page.next_page_number }}">→</a>
							{% endif %}
						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-4 sidebar">

				<div class="sidebar-box search-form-wrap mb-4">
					<form action="" method="get" class="sidebar-search-form">
						<input type="text" name="s" class="form-control" value="{{ query }}" placeholder="Dizi ara...">
					</form>
				</div>

				<div class="sidebar-box">
					<h3 class="heading">Öne Çıkanlar</h3>
					<div class="post-entry-sidebar">
						<ul>
							{% for popular in series|slice:":3" %}
							<li>
								<a href="{% url 'singleSeriesPage' slug=popular.slug %}">
									<img src="{{ popular.poster_url|default:'/static/assets/images/default_series.jpg' }}" alt="{{ popular.name }}" class="me-4 rounded">
									<div class="text">
										<h4>{{ popular.name|truncatechars:40 }}</h4>
										<div class="post-meta">
											<span class="mr-2">{{ popular.first_air_date|default:"Tarih Yok" }}</span>
										</div>
									</div>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}
