{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{% static "assets/images/hero_5.jpg" %}');">
  <div class="container">
    <div class="row same-height justify-content-center">
      <div class="col-md-6">
        <div class="post-entry text-center">
          <h1 class="mb-4">{{ book.title }}</h1>
          <div class="post-meta align-items-center text-center">
            <span class="d-inline-block mt-1">{{book.authors}}</span>
            <span>&nbsp;-&nbsp; {{book.publishedDate}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">

    <div class="row blog-entries element-animate">

      <div class="col-md-12 col-lg-8 main-content">

        <div class="post-content-body">
          <p>{{book.description}}</p>
          <div class="row my-4">
            <div class="col-md-12 mb-4">
              <img src="{{book.imageLinks.thumbnail}}" alt="Image placeholder" class="img-fluid rounded">
            </div>
          </div>
        </div>

        <div class="pt-5 comment-wrap">
            <h3 class="mb-5 heading">{{ comments.count }} Yorum</h3>
            <ul class="comment-list">
              {% for comment in comments %}
                {% if not comment.parent %}
                  {% include "forum/comment.html" with comment=comment %}
                {% endif %}
              {% endfor %}
            </ul>
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Yorum yaz</h3>
            <form method="POST" class="p-5 bg-light" id="comment-form">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-group">
                <input type="submit" value="Gönder" class="btn btn-primary">
              </div>
            </form>
          </div>
          {% include "forum/comment-ajax-script.html" %}
        </div>

      </div>

      <!-- END main-content -->

      <div class="col-md-12 col-lg-4 sidebar">
        <!-- END sidebar-box -->  
        <div class="sidebar-box">
            <h3 class="heading">Öne Çıkanlar</h3>
            <div class="post-entry-sidebar">
              <ul>
                {% for popular in books %}
                <li>
                  <a href="{% url 'singleBookPage' slug=popular.slug %}">
                    <img src="{{ popular.thumbnail|default:'/static/assets/images/default_book.jpg' }}" alt="{{ popular.title }}" class="me-4 rounded">
                    <div class="text">
                      <h4>{{ popular.title|truncatechars:40 }}</h4>
                      <div class="post-meta">
                        <span class="mr-2">{{ popular.publishedDate }}</span>
                      </div>
                    </div>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>

        <!-- END sidebar-box -->

        <div class="sidebar-box">
          <h3 class="heading">Kategoriler</h3>
          <ul class="categories">
            <li><a href="{% url 'GamesCategoryPage' %}">Oyunlar</a></li>
            <li><a href="{% url 'MoviesCategoryPage' %}">Filmler</a></li>
            <li><a href="{% url 'SeriesCategoryPage' %}">Diziler</a></li>
            <li><a href="{% url 'BooksCategoryPage' %}">Kitaplar</a></li>
          </ul>
        </div>
        <!-- END sidebar-box -->
      </div>
      <!-- END sidebar -->

    </div>
  </div>
</section>

<script>
  fetch('https://api.rawg.io/api/games?key=5f0e7622a1f344d6ae8701e0dcf06538')
  .then(response => response.json())
  .then(data => {
    console.log('RAWG API Verisi:', data);
  })
  .catch(error => {
    console.error('Bir hata oluştu:', error);
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("https://gutendex.com/books/")
      .then(res => res.json())
      .then(data => {
        console.log("Klasik kitaplar:", data.results);
      })
      .catch(err => console.error("Hata:", err));
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("https://ghibliapi.vercel.app/films")
      .then(response => response.json())
      .then(data => {
        console.log("Studio Ghibli filmleri:", data);
      })
      .catch(error => {
        console.error("Veri alınırken hata oluştu:", error);
      });
  });
</script>
{% endblock %}