{% load static %}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="widget">
                    <h3 class="mb-4">Hakkımızda</h3>
                    <p>LimonForum, oyun, film, dizi ve kitap üzerine tartışmalar yapabileceğiniz, kullanıcı odaklı bir paylaşım platformudur.</p>
                </div> <!-- /.widget -->
                <div class="widget">
                    <h3>Sosyal Medya</h3>
                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-6 ps-lg-5">
                <div class="widget">
                    <h3 class="mb-4">Sayfalar</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="{% url 'homePage' %}">Ana Sayfa</a></li>
                        <li><a href="{% url 'aboutPage' %}">Hakkımızda</a></li>
                        <li><a href="{% url 'contactPage' %}">İletişim</a></li>
                    </ul>
                    <ul class="list-unstyled float-start links">
                        <li><a href="{% url 'GamesCategoryPage' %}">Oyunlar</a></li>
                        <li><a href="{% url 'MoviesCategoryPage' %}">Filmler</a></li>
                        <li><a href="{% url 'SeriesCategoryPage' %}">Diziler</a></li>
                        <li><a href="{% url 'BooksCategoryPage' %}">Kitaplar</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
        <!-- 
            **==========
            NOTE: 
            Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
            **==========
        -->

        <p>Telif Hakkı &copy;<script>document.write(new Date().getFullYear());</script>. Tüm Hakları Saklıdır. <!-- License information: https://untree.co/license/ -->
        </p>
        </div>
    </div>
    </div> <!-- /.container -->
</footer> <!-- /.site-footer -->