{% load static %}

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a href="{% url 'homePage' %}" class="logo m-0 float-start">LimonForum</a>
                    </div>
                    <div class="col-8 text-center">
                        <form action="#" class="search-form d-inline-block d-lg-none">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="bi-search"></span>
                        </form>

                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                            <li class="active"><a href="{% url 'homePage' %}">Home</a></li>
                            <li class="has-children">
                                <a href="{% url 'categoryPage' %}">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'searchResultPage' %}">Search Result</a></li>
                                    <li><a href="{% url 'blogPage' %}">Blog</a></li>
                                    <li><a href="{% url 'singlePage' slug='valorant' %}">Blog Single</a></li>
                                    <li><a href="{% url 'categoryPage' %}">Category</a></li>
                                    <li><a href="{% url 'aboutPage' %}">About</a></li>
                                    <li><a href="{% url 'contactPage' %}">Contact Us</a></li>
                                    <li><a href="#">Menu One</a></li>
                                    <li><a href="#">Menu Two</a></li>
                                    <li class="has-children">
                                        <a href="#">Dropdown</a>
                                        <ul class="dropdown">
                                            <li><a href="#">Sub Menu One</a></li>
                                            <li><a href="#">Sub Menu Two</a></li>
                                            <li><a href="#">Sub Menu Three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="{% url 'categoryPage' %}">Oyunlar</a></li>
                            <li><a href="{% url 'categoryPage' %}">Filmler</a></li>
                            <li><a href="{% url 'categoryPage' %}">Kitaplar</a></li>
                        </ul>
                    </div>
                    <div class="col-2 text-end">
                         <!-- Login & Register Buttons -->                        <div class="d-none d-lg-inline-block mt-2">
                            <a href="{% url 'loginPage' %}" class="btn btn-outline-primary btn-sm me-2">Giriş</a>
                            <a href="{% url 'registerPage' %}" class="btn btn-primary btn-sm">Kaydol</a>
                        </div>
                        <!-- End Login & Register Buttons -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>