{% load static %}

<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation">
                <div class="row g-0 align-items-center">
                    <div class="col-2">
                        <a href="{% url 'homePage' %}" class="logo m-0 float-start">LimonForum</a>
                    </div>
                    <div class="col-8 text-center">
                        <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                            <li class="active"><a href="{% url 'homePage' %}">Ana Sayfa</a></li>
                            <li class="has-children">
                                <a href="{% url 'categoryPage' %}">Kategoriler</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'categoryPage' %}">Oyunlar</a></li>
                                    <li><a href="{% url 'categoryPage' %}">Filmler</a></li>
                                    <li><a href="{% url 'categoryPage' %}">Diziler</a></li>
                                    <li><a href="{% url 'categoryPage' %}">Kitaplar</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'aboutPage' %}">Hakkımızda</a></li>
                            <li><a href="{% url 'contactPage' %}">İletişim</a></li>
                        </ul>
                    </div>
                    <div class="col-2 text-end">
                         <!-- Login & Register Buttons -->                        
                        <div class="d-none d-lg-inline-block">
                        {% if request.user.is_authenticated %}
                            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ request.user.first_name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'accounts:profilePage' %}">Profil</a></li>
                                <li>
                                    <form method="POST" action="{% url 'accounts:logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">Çıkış Yap</button>
                                    </form>
                                </li>
                            </ul>
                        {% else %}
                            <a href="{% url 'accounts:loginPage' %}" class="me-2">Giriş</a>
                            <a href="{% url 'accounts:registerPage' %}">Kaydol</a>
                        {% endif %}
                        </div>

                        <div class="d-lg-none text-end">
                            {% if request.user.is_authenticated %}
                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        {{ request.user.first_name }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{% url 'accounts:profilePage' %}">Profil</a></li>
                                        <li>
                                            <form method="POST" action="{% url 'accounts:logout' %}">
                                                {% csrf_token %}
                                                <button type="submit" class="dropdown-item">Çıkış Yap</button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-end gap-3">
                                    <a href="{% url 'accounts:loginPage' %}">Giriş</a>
                                    <a href="{% url 'accounts:registerPage' %}">Kaydol</a>
                                </div>
                            {% endif %}
                        </div>
                        <!-- End Login & Register Buttons -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>